{{- define "out-main" -}}
{{ partial "modal.html" (dict "sliderPages" .Pages) }}
{{ end }}

{{- define "hero" -}}
{{ partial "hero.html" (dict "bgimg" .Params.coverImg  "title" .Params.coverTitle "subtitle" .Params.coverSubTitle "Kind" .Kind "height" "h-[400px]")}}
{{- end -}}
{{- define "main" -}}
<div class="mb-6 text-center">
    <h1 class="text-4xl text-center font-bold border-b-2 pb-4 mb-6">{{ .Params.Title }}</h1>

    {{ .Content }}
</div>

<div class="grid px-6 grid-cols-2 gap-2 md:grid-cols-3 md:gap-3">
    {{ $idx := 0}}
    {{ range $pageIdx, $pageData := .Pages }}
    {{ with .Resources.ByType "image" }}
    {{ range $imgIdx, $imgData := . }}
    <div class="group flex flex-col justify-center hover:scale-105 duration-500">
        {{ $image := $imgData.Fill "700x600"}}
        <input type="image"
        src="{{ $image.RelPermalink }}" 
        class="thumbnail" 
        onclick="openModal({{ $idx }})"
        data-original-src="{{ $imgData.RelPermalink }}"
        alt="{{ $pageData.Params.description }}">
    </div>
    {{ $idx = add $idx 1}}
    {{ end }}
    {{ end }}
    {{ end }}
</div>
{{ end }}