{{ $data := .}}
<div class="flex flex-col md:flex-row h-auto {{ if eq $data.imgPosition "right" }}md:flex-row-reverse{{end}}">
    <div class="basis-1/2">
        <img src="{{ $data.featureImg.RelPermalink }}" alt="" class="w-full h-auto">
    </div>
    <div class="basis-1/2 flex flex-col items-center text-center justify-center py-8">
        <h1 class="text-4xl md:text-6xl font-thin mb-8 text-white">{{ $data.featureTitle }}</h1>
        {{ partial "outline_button.html" (dict "href" $data.btnHref "text" "view" )}}
    </div>
</div>